@{
    ViewData["Title"] = "Контакты - WepApp_Parse_Urals";
    ViewData["ActiveContact"] = "active";
}

    <div class="container">
        <div style="margin: 25px auto; max-width: 600px; width: 100%;">
            <p class="contact">
                Разработчик: Никитин Никита Евгеньевич <br />
                Электронная почта: <a href="mailto:wwwnikita18@gmail.com">wwwnikita18@gmail.com</a><br />
                Vk.com: <a href="https://vk.com/gm_balass">@@Bakunin</a><br />
                Telegram: <a href="tg://resolve?domain=bal4ss">@@bal4ss</a>
            </p>
        </div>
    </div>